<div class="content">
    <h1>Política de privacidad</h1>
    <p>Fecha efectiva: 2022-07-20</p>
    <p>Actualizado: 2022-07-21</p>
    <p>
        Esta Política de privacidad explica las políticas de Silvifrid Organic respecto
        a la recopilación y el uso de la información que recogemos cuando accede a www.silvifridorganic.com (el
        «Servicio»). Esta Política de
        privacidad describe sus derechos de privacidad y cómo está protegido por las leyes de privacidad.</p>
    <p>
        Al usar nuestro Servicio, está dando su consentimiento para que recopilemos y usemos su
        información de acuerdo con esta Política de privacidad. Le rogamos que no acceda o no utilice nuestro Servicio
        si no
        da su consentimiento para la recopilación y el uso de su información como se describe en esta Política de
        privacidad. Esta Política de privacidad se ha creado mediante el <a target='_blank'
            href='https://cookie-script.com/privacy-policy-generator'>Generador de Políticas de privacidad
            CookieScript</a>.</p>
    <p>Silvifrid Organic está autorizada para modificar esta Política de privacidad en cualquier momento. Puede ocurrir
        sin previo aviso. </p>
    <p>
        Silvifrid Organic publicará la Política de privacidad modificada en el sitio web www.silvifridorganic.com.</p>

    <h3>Recopilación y uso de su información personal</h3>
    <h4>Información que recogemos</h4>
    <p>
        Al utilizar nuestro Servicio, se le solicitará que nos proporcione información personal
        para contactar con usted o identificarle. www.silvifridorganic.com recopila la siguiente información:v </p>

    <ul>
        <li>Datos de uso</li>
        <li>Nombre</li>
        <li>Correo electrónico</li>
        <li>N.º de teléfono</li>
        <li>Perfil de redes sociales</li>
        <li>Dirección particular</li>
        <li>Fecha de nacimiento</li>
        <li>Dirección laboral</li>
        <li>Información de pago</li>
    </ul>

    <p>Los Datos de uso incluyen:</p>
    <ul>
        <li>Dirección IP de los dispositivos que acceden al sitio web</li>
        <li>Requisitos de la página web</li>
        <li>Páginas web referidas</li>
        <li>Buscador utilizado para acceder</li>
        <li>Fecha y hora de acceso</li>
    </ul>

    <h4>Cómo recopilamos su información</h4>
    <p>
        www.silvifridorganic.com recoge y recibe información de usted de la siguiente manera: </p>
    <ul>
        <li>Cuando rellena un formulario de registro o envía su información personal.</li>
    </ul>
    <p>
        Su información se almacenará durante 1 día(s) tras haber
        eliminado su cuenta. Es posible que su información se conserve durante períodos más largos para la presentación
        de
        informes o el mantenimiento de registros de acuerdo con las leyes aplicables. La información que no lo
        identifica
        personalmente puede almacenarse inf¡definidamente. </p>

    <h4>Cómo usamos su información</h4>
    <p>
        www.silvifridorganic.com puede utilizar su información con los siguientes objetivos: </p>
    <ul>
        <li><b>Proporcionar y mantener nuestro Servicio,</b> así como supervisar el uso de nuestro Servicio.</li>
        <li><b>Para otros fines.</b> Silvifrid Organic utilizará su información para analizar datos para identificar
            tendencias de uso o determinar la efectividad de nuestras campañas de marketing cuando sea necesario.
            Usaremos su información para evaluar y mejorar nuestro Servicio, nuestros productos, nuestros servicios y
            nuestras estrategias de marketing.</li>
        <li><b>Administrar su cuenta.</b> Sus Datos personales pueden permitir el acceso a múltiples funciones de
            nuestro Servicio que están disponibles para usuarios registrados.</li>
        <li><b>Para contactar con usted.</b> Silvifrid Organic se pondrá en contacto con usted por correo electrónico,
            teléfono, SMS u otra forma de comunicación electrónica con las funciones, productos, servicios o
            actualizaciones de seguridad cuando sea necesario o razonable.</li>
        <li><b>Para mantenerle actualizado</b> con noticias, información general, ofertas especiales, nuevos servicios y
            eventos.</li>
        <li><b>Iniciativas de marketing y promoción.</b> Silvifrid Organic utilizará información no específica
            recopilada para mejorar nuestras estrategias de marketing.</li>
        <li><b>Publicidad dirigida.</b> Sus datos personales se utilizarán para mejorar las estrategias publicitarias
            que sean relevantes para sus intereses específicos.</li>
        <li><b>Gestionar pedidos de clientes.</b> Su dirección de correo electrónico, número de teléfono, perfiles de
            redes sociales y otra información de la cuenta de usuario se utilizarán para administrar los pedidos
            realizados a través de nuestro Servicio.</li>
        <li><b>Para administrar información.</b> Sus datos personales se utilizarán como parte del funcionamiento de las
            prácticas de administración de nuestro sitio web.</li>
    </ul>

    <h4>Cómo compartimos su información</h4>
    <p>
        Silvifrid Organic compartirá su información, cuando sea pertinente, en las siguientes situaciones: </p>
    <ul>
        <li><b>Con su consentimiento.</b> Silvifrid Organic compartirá su información para cualquier propósito con su
            consentimiento explícito.</li>
    </ul>

    <h4>Compartir su información con terceros</h4>
    <p>
        Cualquier tercero con el que compartamos su información debe revelar el propósito para el cual pretenden usar su
        información. Debe retener su información solo durante el tiempo que se declare al solicitar o recibir dicha
        información. El proveedor de servicios de terceros no debe recopilar, vender ni usar su información personal,
        excepto cuando sea necesario para realizar el propósito especificado. </p>
    <p>Su información puede ser compartida con un tercero por razones que incluyen:</p>
    <ul>
        <li><b>Servicios de procesamiento y recuperación de pagos.</b> Su información se utilizará para procesar pagos
            en caso de una compra, reembolso u otra solicitud similar.</li>
        <li><b>Mejorar las campañas de publicidad dirigida.</b> Silvifrid Organic se asocia con proveedores de servicios
            externos para mejorar las campañas publicitarias específicas.</li>
        <li><b>Iniciativas de marketing.</b> Su información se utilizará para generar y enviar boletines informativos,
            estrategias de marketing por correo electrónico, anuncios, etc.</li>
        <li><b>Mejorar nuestro Servicio.</b> Es posible que su información se comparta con proveedores de servicios
            externos para mejorar nuestro Servicio y/o las interacciones con los proveedores.</li>
        <li><b>Análisis de información.</b> Es posible que su información se comparta con herramientas de análisis en
            línea para rastrear y analizar el tráfico del sitio web.</li>
    </ul>
    <p>
        Si elige proporcionar dicha información durante el registro, le está dando permiso a Silvifrid Organic para
        usar, compartir y almacenar esa información de acuerdo con esta Política de privacidad. </p>

    <p>Su información puede ser revelada por razones adicionales, que incluyen:</p>
    <ul>
        <li>Cumplir con las leyes, reglamentos u órdenes judiciales pertinentes.</li>
        <li>Responder a reclamos de que su uso de nuestro Servicio viola derechos de terceros.</li>
        <li>Hacer cumplir los acuerdos que haga con nosotros, incluida esta Política de privacidad.</li>
    </ul>

    <h4>Cookies</h4>
    <p>
        Las cookies son pequeños archivos de texto que los sitios web que usted visita colocan en su ordenador. Los
        sitios web utilizan cookies para ayudar a los usuarios a navegar de manera eficiente y realizar ciertas
        funciones. Las cookies que se requieren para que el sitio web funcione correctamente se pueden configurar sin su
        permiso. Todas las demás cookies deben aprobarse antes de que se puedan configurar en el navegador. </p>
    <ul>
        <li><b>Cookies estrictamente necesarias.</b> Las cookies estrictamente necesarias permiten la funcionalidad
            principal del sitio web, como el inicio de sesión de usuario y la gestión de cuentas. El sitio web no se
            puede utilizar correctamente sin las cookies estrictamente necesarias.</li>
    </ul>


    <h4>Seguridad</h4>
    <p>
        La seguridad de su información es importante para nosotros. www.silvifridorganic.com utiliza una serie de
        medidas de seguridad para evitar el mal uso, la pérdida o la alteración de la información que nos ha
        proporcionado. Sin embargo, debido a que no podemos garantizar la seguridad de la información que nos
        proporciona, debe acceder a nuestro Servicio bajo su propio riesgo. </p>
    <p>
        Silvifrid Organic no es responsable del rendimiento de los sitios web operados por terceros o de sus
        interacciones con ellos. Cuando abandone este sitio web, le recomendamos que revise las prácticas de privacidad
        de otros sitios web con los que interactúe y determine la conveniencia de esas prácticas. </p>

    <h4>Contacta con nosotros</h4>
    <p>Si tienes cualquier pregunta, puedes contactar con nosotros de las siguientes formas:</p>
    <p>Nombre: Silvifrid Organic</p>
    <p>Dirección: Cra 9 No 25-15 Floridablanca Santander</p>
    <p>Correo electrónico: produccion@silvifridorganic.com</p>
    <p>Sitio web: www.silvifridorganic.com</p>


    <p>
        Para cualquier consulta o duda relacionada con
        el procesamiento de su información, puede contactar con nuestro Delegado de privacidad, Silvifrid Organic,
        produccion@silvifridorganic.com. </p>



</div>