<div #productcard class="product-card">
	<div class="badge">Más vendido</div>
	<div class="product-tumb" (click)="navigate()">
		<img src="{{product.images[0]}}" alt="">
	</div>
	<div class="product-details">
		<span class="product-catagory">{{product.category}}</span>
		<h4><a (click)="navigate()">{{product.name}}</a></h4>
		<div class="product-bottom-details">
			<div class="product-price"><small>{{product.price | number: '2.'}} COP</small><br>{{product.price | number: '2.'}} COP</div>
			<div class="product-links">
				<a href=""><fa-icon [icon]="faHeart"></fa-icon></a>
				<a (click)="addProductToCart()"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
			</div>
		</div>
	</div>
</div>
