<div class="overflow-hidden">
	<div class="container position-relative">
		<article class="z-index-1 position-relative">
			<main>
			<section class="mb-7 mt-5">
					<h2 class="mb-6">High Scores & High Drama</h2>

					<div class="row">
						<div class="col-md-8">
							<p class="lead mb-6 pb-3">Voluptatem, omnis, placeat recusandae iste explicabo accusantium velit laboriosam voluptatum similique, fugit culpa enim! Suscipit labore odit porro assumenda, molestiae aperiam laboriosam explicabo nemo soluta facere sed libero magnam. Odio.</p>
						</div>
					</div>

					<div class="row text-body">
						<div class="col-md-8">
							<figure class="overflow-hidden"><img class="img-fluid" src="../../../../assets/img/blog/1.jpg" alt="two people playing Guitar Hero Arcade. " />
								<figcaption class="small text-muted mt-2">Photo by Cassidy James Blaede</figcaption>
							</figure>
						</div>

						<div class="col-md-4">
							<p>Voluptatem, omnis, placeat recusandae iste explicabo accusantium velit laboriosam voluptatum similique, fugit culpa enim! Suscipit labore odit porro assumenda, molestiae aperiam laboriosam explicabo nemo soluta facere sed libero magnam. Odio.</p>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id amet ad blanditiis vero delectus incidunt tempore reiciendis eius qui vel placeat reprehenderit, ut, dolore asperiores possimus impedit. Ipsum, culpa eaque!</p>
							<p>Velit vero esse quisquam accusantium? Dolore alias, quaerat quod excepturi officiis ipsa placeat officia necessitatibus illo, vero quasi esse aut. Doloremque nesciunt placeat animi saepe tempore aspernatur, officia vitae laudantium!</p>
						</div>
					</div>

				</section>

				<section class="mb-7" data-tor-group="
            [class*='col'] => inview:[fade.in pull.up(md)] slower quad delay(/+50ms/);
            img => scroll:@T=scale(80%;100%);
          ">
					<h2 class="mb-6">Leveling Up</h2>

					<div class="row">
						<div class="col-md-8">
							<p class="lead mb-6 pb-3">Animi aut, atque quibusdam similique distinctio enim iure, blanditiis rerum autem illum eum in. Dolorem quasi aspernatur nemo deserunt quo, libero dolore atque magni, ullam nihil corrupti et illo earum?</p>

							<div class="row text-body">
								<div class="col-md-6">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quidem est minima quam! Laborum odit quidem earum perferendis eius laudantium perspiciatis similique deleniti delectus suscipit, cum corrupti facere reprehenderit esse.</p>
									<p>Voluptatem, omnis, placeat recusandae iste explicabo accusantium velit laboriosam voluptatum similique, fugit culpa enim! Suscipit labore odit porro assumenda, molestiae aperiam laboriosam explicabo nemo soluta facere sed libero magnam. Odio.</p>
									<p>Animi aut, atque quibusdam similique distinctio enim iure, blanditiis rerum autem illum eum in. Dolorem quasi aspernatur nemo deserunt quo, libero dolore atque magni, ullam nihil corrupti et illo earum?</p>
								</div>
								<div class="col-md-6">
									<p>Voluptatem, omnis, placeat recusandae iste explicabo accusantium velit laboriosam voluptatum similique, fugit culpa enim! Suscipit labore odit porro assumenda, molestiae aperiam laboriosam explicabo nemo soluta facere sed libero magnam. Odio.</p>
									<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id amet ad blanditiis vero delectus incidunt tempore reiciendis eius qui vel placeat reprehenderit, ut, dolore asperiores possimus impedit. Ipsum, culpa eaque!</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<figure><img class="img-fluid" src="../../../../assets/img/blog/2.jpg" alt="a person wearing a bucket hat, sitting on a skee ball machine lane. " />
								<figcaption class="small text-muted mt-2">Photo by Nick Jones</figcaption>
							</figure>
						</div>
					</div>
				</section>

				<section class="mb-7">
					<div class="row g-0">
						<div class="col">
							<figure class="overflow-hidden"><img data-tor="scroll:@T=translateX(50%;0%)" class="img-fluid" src="../../../../assets/img/blog/3.jpg" alt="a person in black high-heeled boots sitting on an arcade basketball game. " />
								<figcaption class="small text-muted mt-2">Photo by Ersin Mandaliev</figcaption>
							</figure>
						</div>
						<div class="col">
							<figure class="overflow-hidden"><img data-tor="scroll:@T=translateX(-50%;0%)" class="img-fluid" src="../../../../assets/img/blog/4.jpg" alt="a person in a white t-shirt sitting on a wheel of fortune arcade game. " />
								<figcaption class="small text-muted mt-2">Photo by Nick Jones</figcaption>
							</figure>
						</div>

					</div>
				</section>

				<section data-tor-group="
            [class*='col'] => inview:[fade.in pull.up(md)] slower quad delay(/+50ms/);
          ">
					<h2 class="mb-6">Game Over?</h2>

					<div class="row">
						<div class="col-md-8">
							<p class="lead mb-6 pb-3">Animi aut, atque quibusdam similique distinctio enim iure, blanditiis rerum autem illum eum in. Dolorem quasi aspernatur nemo deserunt quo, libero dolore atque magni, ullam nihil corrupti et illo earum?</p>
						</div>
					</div>

					<div class="row mb-7">
						<div class="col-md-4">
							<p>Velit vero esse quisquam accusantium? Dolore alias, quaerat quod excepturi officiis ipsa placeat officia necessitatibus illo, vero quasi esse aut. Doloremque nesciunt placeat animi saepe tempore aspernatur, officia vitae laudantium!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quidem est minima quam! Laborum odit quidem earum perferendis eius laudantium perspiciatis similique deleniti delectus suscipit, cum corrupti facere reprehenderit esse.</p>
							<p>Aperiam est ab harum alias quae rem, cumque vero. Dolore possimus quas eius dolor voluptatibus cumque velit, ratione aspernatur voluptatem? Nulla voluptatem quaerat placeat error, ipsam alias dignissimos odit excepturi?</p>
						</div>

						<div class="col-md-4">
							<p>Consectetur sed, itaque modi fugit asperiores similique maxime voluptatum incidunt labore vero cumque provident, deleniti nam? Molestiae impedit nostrum soluta quo iure, iste, nobis expedita minus ad officia dolor saepe.</p>
							<aside class="border-start border-3 p-4 fw-700">
								<p>Labore vero cumque provident, deleniti nam, cumque vero.</p>
							</aside>
							<p>Consectetur sed, itaque modi fugit asperiores similique maxime voluptatum incidunt labore vero cumque provident, deleniti nam? Molestiae impedit nostrum soluta quo iure, iste, nobis expedita minus ad officia dolor saepe.</p>
						</div>

						<div class="col-md-4">
							<p>Aperiam est ab harum alias quae rem, cumque vero. Dolore possimus quas eius dolor voluptatibus cumque velit, ratione aspernatur voluptatem? Nulla voluptatem quaerat placeat error, ipsam alias dignissimos odit excepturi?</p>
							<p>Velit vero esse quisquam accusantium? Dolore alias, quaerat quod excepturi officiis ipsa placeat officia necessitatibus illo, vero quasi esse aut. Doloremque nesciunt placeat animi saepe tempore aspernatur, officia vitae laudantium!</p>
						</div>
					</div>

					<div class="h-50rem">
						<figure><img class="w-100" src="../../../../assets/img/blog/5.jpg" alt="three neon-lit skee ball lanes. " data-tor="scroll:@T=scale(2;1, {end: 60}) origin.top" />
						</figure>
					</div>

				</section>
			</main>

		</article>

		<div class="bg">
			<div class="container h-100">
				<div class="row row-cols-3 h-100">
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
