<div id="lawmsg" class="alert alert-success alert-dismissible h6 fade show fixed-bottom" role="alert" *ngIf="!cookiesPrivacyAcepted">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeCookiesPrivacy()">
        <span aria-hidden="true">&times;</span>
    </button>
    &nbsp; Este sitio web utiliza cookies para distinguirte de otros usuarios. &nbsp; Usamos esta información para mejorar tu experiencia de usuario así como para fines publicitarios. &nbsp; Al continuar navegando en este sitio web autorizas el uso de cookies. &nbsp; para más información, puedes ver nuestra &nbsp;
    <a routerLink="/cookies" target="_blank">Política de Cookies</a>.
</div>