@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
nav{
    background: linear-gradient(to left, rgb(6, 114, 0), rgb(158, 230, 175));
}

.div-logo {
  margin-right: auto;
}

li a {
    font-size: 1.08rem;
}

a img {
    height: 2rem;
    width: auto;
}

button:focus {
    outline: none;
  }

.search-button {
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .search-button span {

    font-family: "Montserrat", sans-serif;
    font-weight: semibold;
    color: rgb(165, 143, 113);
  }
  .search-button:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  .search-button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
  }
 