<div class="signup-classic">
    <h4 class="mb-2">Crea tu cuenta</h4>
    <form class="form">
      <fieldset class="username">
        <input type="text" placeholder="username" />
      </fieldset>
      <fieldset class="email">
        <input type="email" placeholder="email" />
      </fieldset>
      <fieldset class="password">
        <input type="password" placeholder="password" />
      </fieldset>
      <fieldset class="password">
        <input type="password" placeholder="confirm password" />
      </fieldset>
      <button type="submit" class="btn btn-success">Registrarme</button>
    </form>
  </div>

