<div class="signup-classic">
    <h2 class="mb-2">Crea tu cuenta</h2>
    <form class="form">
      <fieldset class="username">
        <input #userName type="text" placeholder="Nombre de ssuario" />
      </fieldset>
      <fieldset class="email">
        <input  #email type="email" placeholder="e-mail" />
      </fieldset>
      <fieldset class="password">
        <input  #password1   (keyup)="checkPasswordsMatch()" type="password" placeholder="Contraseña" />
      </fieldset>
      <fieldset class="password">
        <input  (keyup)="checkPasswordsMatch()" #password2  type="password" placeholder="Confirma tu contraseña" />
      </fieldset>

      <p *ngIf="!passwordMatch" class="text-danger">Las contraseñas no coinciden</p>

      <button (click)="emailPasswordSignIn($event)" class="btn btn-success">Registrarme</button>
    </form>
  </div>

