body {
  background: linear-gradient(to left, rgb(255 218 226), rgb(255 255 255));
  height: 25rem;
  box-shadow: 0 2px 7px #8a8888;
  margin-top: 2rem;
}

#button-addon1 {
  color: #ff869e;
}

i {
  color: #ff869e;
}



h4{
  font-size: 1.2rem;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

/* li:hover{
  background-color: transparent;
  transform: scale(1.15);
} */