<body class="d-flex flex-column">
  
	<!-- Footer -->
	<footer class="bg-white">
	  <div class="container py-5">
		<div class="row py-4">
		  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
			<p class="font-italic text-muted">{{footDesc}}</p>
			<ul class="list-inline mt-4">
			  <li class="list-inline-item">
				<a href="#" class="link-secondary mr-3" target="_blank" title="facebook">
				  <fa-icon class="fa fa-2x" [icon]="faFacebook"></fa-icon>
				</a>
			  </li>
			  <li class="list-inline-item">
				  <a href="#" class="link-secondary  mr-3" target="_blank" title="instagram">
					<fa-icon class="fa fa-2x instagram" [icon]="faInstagram"></fa-icon>
				  </a>
			  </li>
			  <li class="list-inline-item">
				<a href="#" class="link-secondary  mr-3" target="_blank" title="whatsapp">
				  <fa-icon class="fa fa-2x instagram" [icon]="faWhatsapp"></fa-icon>
				</a>
			</li>
		    </ul>
		  </div>
		  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
			<h4 class="text-uppercase font-weight-bold mb-4">Tienda</h4>
			<ul class="list-unstyled mb-0">
			  <li class="mb-2"><a href="#" class="text-muted">Higiene</a></li>
			  <li class="mb-2"><a href="#" class="text-muted">Belleza</a></li>
			  <li class="mb-2"><a href="#" class="text-muted">Aromas</a></li>
			</ul>
		  </div>
		  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
			<h4 class="text-uppercase font-weight-bold mb-4">Silvifrid</h4>
			<ul class="list-unstyled mb-0">
			  <li class="mb-2"><a href="#" class="text-muted">Contactenos</a></li>
			  <li class="mb-2"><a routerLink="/privacy" class="text-muted">Política de privacidad</a></li>
			  <li class="mb-2"><a routerLink="/cookies" class="text-muted">Política de Cookies</a></li>
			</ul>
		  </div>
		  <div class="col-lg-4 col-md-6 mb-lg-0">
			<h4 class="text-uppercase font-weight-bold mb-4">Suscripciones</h4>
			<p class="text-muted mb-4">Suscribete para recibir nuestras últimas novedades</p>
			<div class="p-1 rounded border">
			  <div class="input-group">
				<input type="email" placeholder="Mi correo electrónico" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
				<div class="input-group-append">
				  <button id="button-addon1" type="submit" class="btn btn-link"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>


	</footer>
</body>