<div class="main-signup">
  <div class="signup">
    <h4>Inicia sesión con tus redes sociales</h4>
      <div class="signup-connect">
        <a (click)="fbLogin()" class="btn btn-social btn-facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a (click)="twLogin()" class="btn btn-social btn-twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a (click)="ggLogin()" class="btn btn-social btn-google"><fa-icon [icon]="faGoogle"></fa-icon></a>
      </div>
      <div class="signup-classic">
        <br>
        <div class="login-options" *ngIf="logOption==initMode.SIGNUP_MODE">
          <app-sign-up-form></app-sign-up-form>
          <br>
          <a (click)="goToSignUp()">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
        <div class="login-options" *ngIf="logOption==initMode.LOGIN_MODE">
          <app-login-form></app-login-form>
          <br>
          <a (click)="goToLogIn()">¿Aún no tienes cuenta? Registrate</a>
          <br>
          <a (click)="rememberPassword()">¿No recuerdas tu contraseña? Recuperala</a>
        </div>
      </div>
   </div>
</div>